/* ===== Colour Palettes ===== */

:root {
    /* ===== Home Page Colour Palette ===== */
  --bg-home: #83C5BE;
  --bg-home-dark: #006D77;
  --bg-home-light: #EDF6F9;

  --text-home-dark: #006D77;
  --text-home-light: #EDF6F9;
}

/* ===== Home Page ===== */

.home {
  background-color: var(--bg-home);
  min-height: 100%;
}

/* ===== Home Page Headings ===== */

.home-header-wrapper {
  background-color: var(--bg-home-dark);
  color: var(--text-home-light);
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.home-header-title {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.home-header-subtitle {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

/* ===== Home Page Body ===== */

.home-section-wrapper {
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  margin-top: 1.5rem;
  margin-top: 1.5rem;
}

.home-section-title {
  background-color: var(--bg-home-dark);
  color: var(--text-home-light);
  padding: 3rem;
}

.home-section-body {
  background-color: var(--bg-home-light);
  color: var(--text-home-dark);
  padding: 3rem;
}

/* ===== Home Page My Projects Section ===== */

.home-projects-wrapper {
  position: relative;
}

.home-projects-title {
  background-color: var(--bg-home-dark);
  color: var(--text-home-light);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 14px 36px;
  border-radius: 12px;
  z-index: 10;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}